<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InputMethodConnectionName</key>
	<string>SmartPinyin_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>$(PRODUCT_MODULE_NAME).InputController</string>
	<key>tsInputMethodIconFileKey</key>
	<string>icon.tiff</string>
	<key>tkInputMethodIsOnIconKey</key>
	<string>icon.tiff</string>
	<key>TISInputSourceID</key>
	<string>com.jxcorp.inputmethod.smart-pinyin</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hans</string>
		<string>Hant</string>
		<string>Latn</string>
	</array>
	<key>LSBackgroundOnly</key>
	<false/>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
